# Important: When an env value is surrounded by double quotes, using the Makefile command may cause an error.
export ADDR=:8080
export DB_ADDR=postgres://admin:adminpassword@localhost:5432/social?sslmode=disable
export REDIS_ENABLED=true